@main("Is it still running?") {

    <div class="well first-content">

        <div class="container" ng-app="app" ng-controller="mainController">
            <script type="text/ng-template" id="spinner.html">
                <div class="modal-header">
                    <h3>Checking please wait...</h3>
                </div>
                <div class="modal-body">
                    <div class="spinner">
                        <span us-spinner="{radius:30, width:8, length: 16}"></span>
                    </div>
                </div>
            </script>




            <form class="form-group">
                <div class="form-group">
                    <input id="search" type="text" placeholder="http://www.google.com" class="form-control" ng-required required ng-model="url"/>
                </div>
                <button id="search-button" type="submit" class="btn btn-default" ng-click="check();">Check</button>
            </form>

            <div class="container alert alert-success" ng-show="message">
                <span class="message">{{message}}</span>
            </div>
        </div>
    </div>

}
